/* Footer CSS */
.footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 5%;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin-bottom: 20px;
    padding-right: 20px;
}

.footer-section h3 {
    color: #fabc03;
    margin-bottom: 20px;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 10px;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 2px;
    background-color: #fabc03;
}

.about-section p {
    margin-bottom: 15px;
    line-height: 1.5;
    font-size: 0.9rem;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #4a4a4a;
    color: white;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color:#1ba0e2;
    transform: translateY(-3px);
}

.links-section ul, .contact-section ul {
    list-style: none;
}

.links-section li, .contact-section li {
    margin-bottom: 12px;
}

.links-section a {
    color: #ddd;
    text-decoration: none;
    transition: color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
}

.links-section a:hover {
    color:#1ba0e2;
    padding-left: 5px;
}

.contact-item {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

.contact-item i {
    margin-top: 3px;
    color:#fabc03;
}

.contact-link {
    color: inherit; /* Gunakan warna teks bawaan */
    text-decoration: none; /* Hapus garis bawah */
    font-weight: 500;
}
.contact-link:hover {
    text-decoration: underline;
    color: #1ba0e2;
}

.contact-item span {
    font-size: 0.9rem;
    line-height: 1.5;
}

.newsletter-section form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newsletter-section input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4a4a4a;
    color: white;
}

.newsletter-section input::placeholder {
    color: #aaa;
}

.newsletter-section button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fabc03;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.newsletter-section button:hover {
    background-color: #f89808;
}

.footer-bottom {
    background-color: #222;
    padding: 15px 5%;
    text-align: center;
    font-size: 0.9rem;
}

.footer-bottom a {
    color: #fabc03;
    text-decoration: none;
}